header, div.main, footer {
    border: 5px solid rosybrown;
}

/*header*/

header{
    background-color: rgb(255, 0, 221);
    height: 50px;
    position: relative;
}

.header__menu{
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__menu a {
    font-family: 'Langar', cursive;
    color: black;
}

/*content*/
.main {
    background-color: rgb(155, 138, 138);
    height: 100px;
}

/*footer*/
footer{
    background-color: rgb(102, 255, 0);
    height: 50px;
}